@media only screen and (min-width: 64em){
    /* MAIN BODY */

    h2 {
        font-size: 3rem;
    }
    
    /* MAIN BODY */
    





    /* HEADER */
    
    header img {
        width: 200px;
        height: auto;
    }

    .headingtext h1 {
        font-size: 3rem;
    }

    .motto {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

    /* HEADER */
    





    /* NAVIGATION */

    nav ul { 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-left: 0;
    }

    nav ul li a {
        padding: .6rem 1rem;
    }

    /* NAVIGATION */

    




    /* HERO */

    .idaho {
        display: block;
        width: 980px;
        height: 100%;
    }

    .weather {
        position: absolute;
        background: rgb(98,35,9);
        background: linear-gradient(90deg, rgba(98,35,9,0.6) 0%, rgba(140,42,0,0.6) 16%, rgba(233,210,196,0.6) 100%);
        border: 2px solid #2A2A14;
        width: 250px;
        padding: 10px;
        top: 33rem;
        left: 25rem;
        font-size: 19px;
    }

    /* HERO */






    /* FIVE DAY */

    .fivedaytitle {
        display:block;
        margin: 5rem 0 2rem auto;
        font-size: 2.5rem;
    }
    
    .fiveday table {
        background-color: #b1db76 ;
        border: 2px solid #2A2A14;
        width: 45%;
        margin: 0 auto;
        padding: 10px;
    }
    
    .days {
        background-color:  #2A2A14;
        color: #E9D2C4;
        font-size: 2rem;
    }

    th img {
        width: 55px;
        height: 100%;
    }
    
    .underdays {
        font-size: 1.5rem;
    }
    
    /* FIVE DAY */






    /* ARTICLE */
    
    .article img{
        width: 350px;
        height: auto;
        margin: 10px 0px 10px 10px;
        float: right;
    }

    .article {
        width: 950px;
        margin: 3rem auto;
        padding: 15px;
    }

    /* ARTICLE */






    /* BOTTOM */
    
    .bottom {
        display: flex;
        margin-bottom: 0;
    }
    
    .left {
        flex: 50%;
    }
    
    .right {
        flex: 50%;
    }

    /* BOTTOM */

    



    
    /* FOOTER */

    footer, .bottom {
        width: 950px;
        margin: 0 auto;
        padding: 15px;
    }

    /* FOOTER */
    
}