@media only screen and (min-width: 35em) {

    /* MAIN BODY */


    
    /* MAIN BODY */
    





    /* HEADER */
    
    header img {
        width: 150px;
        height: auto;
    }

    /* HEADER */
    





    /* NAVIGATION */

    nav ul li a {
        border: none;
        padding: .7rem 1rem;
    }

    nav ul li {
        border-right: 1px solid #eb6e38;
    }

    nav ul li:hover {
        background-color: #bf3900;
        color: #2A2A14;
    }

    .hamburger li:first-child {
        display: none;
    }
    
    .hamburger {
		display: flex;
	}
	.hamburger li {
		display: block; 
		flex: 1 1 auto;
	}

	.hamburger a {
		text-align: center;
	}

    /* NAVIGATION */

    




    /* HERO */



    /* HERO */






    /* FIVE DAY */

    .fivedaytitle {
        display:block;
        margin: 5rem 0 2rem auto;
    }
    
    .fiveday table {
        background-color: #b1db76 ;
        border: 2px solid #2A2A14;
        width: 45%;
        margin: 0 auto;
        padding: 10px;
    }

    .days {
        background-color:  #2A2A14;
        color: #E9D2C4;
        font-size: 2rem;
    }

    th img {
        width: 55px;
        height: 100%;
    }
    
    .underdays {
        font-size: 1.5rem;
    }
    
    /* FIVE DAY */






    /* ARTICLE */
    
    .article img{
        width: 300px;
        height: auto;
        margin: 10px 0px 10px 10px;
        float: right;
    }
    
    .article, .bottom {
        width: 850px;
        margin: 4rem auto;
        background-color: #f78a5c;
        padding: 15px;
    }    

    /* ARTICLE */






    /* BOTTOM */

    .bottom {
        display: flex;
        margin-bottom: 0;
    }
    
    .left {
        flex: 50%
    }
    
    .right {
        flex: 50%
    }

    /* BOTTOM */

    




    /* FOOTER */



    /* FOOTER */
    
    
    
    
    
    
    
    

  



    


   
    
    }