@media (min-width: 32.5em) {

    
h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

footer {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

img {
    float: right;
    margin-top: .8em;
    margin-right: .5em;
    box-shadow: -.3em .3em .5em  #1F271B;
}

footer {
    line-height: .5em;
}


}