@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Martel:wght@300&display=swap');

/* BODY */
 
body {
    color: #FFF6EB;
}


/* MAIN */


main {
    color: #515A47;
    width: 70%;
}



/* MEMBERSHIP */





/* CALL TO ACTION */



font-family: 'Martel', serif;

/* EVENTS */



/* NAVIGATION */
nav ul {
    background-color: #2A2A14;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li a {
    padding-left: 0;
    display: block;
    padding: 1.5rem 2%;
    text-decoration: none;
    border-top: 1px solid #eb6e38;
    color: #E45011;
}

.hamburger li:first-child {
    display: block;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

.hamburger li {
    display: none;
}

.responsive li {
    display: block;
}

.ham {
    border-top: none;
}

nav ul li.active a{
    color: #E9D2C4 !important;
    background-color: #8c2a00; 
}

nav ul li a:hover {
    background-color: #bf3900;
    color: #2A2A14;
}




/* CONTACT */




/* FOOTER */




/* TEST */

nav{
    color: #95B46A;
    color: #515A47;
    color: #FFF6EB;
    color: #eeb849;
    rgb(238,184,73)
}