/* MAIN BODY */

html {
    background-color: #E9D2C4;
}

main {
	margin: 0 auto;
    background-color: #E9D2C4;
    padding: 3em;
}

.gallery {
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3, p {
    text-align: center;
    margin: 2px;
}


/* MAIN BODY */




/* HEADING */

header {
    display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 100px;
	height: auto;
}

.headingtext {
	display: flex;
	flex-direction: column;
}

.headingtext h1 {
	font-size: 30px;
	margin: 0 0 0 17px;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: #E45011;
    margin-left: 20px;
    font-size: .9rem;
}

/* HEADING */








/* TABLE BUILD */

table {
    width: 20rem;
    text-align: center;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 8px 8px grey;
}

thead tr:first-child {
    font-size: 2rem;
    font-weight: bold;
    background-color: #7fb9c2;
}

thead tr:nth-child(2) {
    background-color: #628ca6 ;
    color: white;
}

table, th, td {
    border: .5px solid grey;
    border-collapse: collapse;
    border-width: thin;
    padding: .5em;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
  }
  
tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tbody tr th {
    font-style: italic;
    font-weight: normal;
}


tfoot tr td{
    text-align: center;
    background-color: #7fb9c2;
    font-size: .8rem;
}

.darkblue {
    background-color: #628ca6 ;
    color: white;
}
/* TABLE BUILD */