html {
    background-color: #E9D2C4;
    line-height: 1;
}

main {
	margin: 0 auto;
	display: block;
    background-color: #A3D45E;
    padding: 3em;
}


nav {
    background-color: #2A2A14;
    font-family: 'Antonio', sans-serif;
    font-size: 25px;
    padding: .3em;
    color: #E45011;
}

a {
    color: #E45011;
}

img {
    width: 100%;
    height:auto;
    margin: 0 auto;
}

header {
    display: block;
    padding: .5em;
    border: 5px solid  #2A2A14;
}

header h1 {
    text-align: center;
    vertical-align: middle;
    font-family: 'Antonio', sans-serif;
    font-size: 50px;
    padding-top: 1em;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

footer {
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    margin: 1em;
}

h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    color: #000000;
}

nav ul li {
	display: block;
	text-align: center;
    padding: 0.5em;
	text-decoration: none;
    list-style-type: none;
}

nav ul {
    padding-left: 0;
}

nav a:hover {
	background-color: #E9D2C4;
	color: #2A2A14;
}


table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1em;
}

.Yellowgreen {
    background-color: #A3D45E;
    color: #000000;
}

.Pinetree {
    background-color: #2A2A14;
    color: #E9D2C4;
}

.Flame {
    background-color: #E45011;
    color: #000000;

}

.Champagnepink {
    background-color: #E9D2C4;
    color: #000000;
}

.one, .two, .three, .four, .five, .six{
    font-family: 'Antonio', sans-serif;
}
.seven {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    color: #000000;
}

.one {
    font-size: 50px;
    color: #2A2A14;
}

.two {
    font-size: 25px;
    color: #E9D2C4	;
}

.three {
    font-size: 20px;
    color: #2A2A14;
}

.four {
    font-size: 30px;
    color: #E45011;
}

.five {
    font-size: 25px;
    color: #2A2A14;
}

.six {
    font-size: 20px;
    color: #2A2A14;
}

.typography, th, td{
        padding: 0;
}
.typography td:nth-child(3), td:nth-child(4) {
    display: none;
}