main {
	margin: 0 auto;
	display: block;
}


body {
    max-width: 900px;
    margin: 0 auto;
    padding: 2em;
}

html {
    background-color: #FCFDD8;
    line-height: 1;
}

header {
    background-color: #344224;
    padding: 1em;
}

.home {
    padding: 1em;
}

div {
    color: #C1701F;
    margin: 0;
    padding: 0;
}


main {
    display: grid;
}

section div {
    margin: 0;
}

main section {
    margin: 0.5rem;
    border: 1px solid #344224;
    padding: 0 1rem;
    background-color: beige;
}

img {
    width: 15em;
    height:auto;
    margin: 1em auto;
}

h1 h2 h4 {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
}

header {
    color: white;
    margin-top: 1em;
}

a {
    color: #344224;
}

section a {
    color: #C1701F;
}

p {
    font-family: 'Lora', serif;
    font-size: 18px;
}